## Get water datta from USGS

USGS Water Services Instantaneous Values API:
    [https://waterservices.usgs.gov/](https://waterservices.usgs.gov/test-tools/?service=iv&siteType=&statTypeCd=all&major-filters=sites&format=json&date-type=type-none&statReportType=daily&statYearType=calendar&missingData=off&siteStatus=all&siteNameMatchOperator=start)

Dataretrieval Python Documentation:
    [https://doi-usgs.github.io/dataretrieval-python/index.html](https://doi-usgs.github.io/dataretrieval-python/index.html)

In [10]:
# Import NWIS Module from USGS
import dataretrieval.nwis as nwis
import pandas as pd

In [11]:
# set API call parameters
sites= '03287500'                      # site number for USGS Gage in Frankfort
start = '2025-02-01'                   # filter for the range of start date
end = '2025-02-28'                     # and end data
parameterCd = ["00060", "00065"]       # parameter codes for gage discharge in cubic feet/second
                                       # and height in feet

# create a dataframe and metadata object
df, md = nwis.get_iv(
    sites=sites,
    start=start,
    end=end,
    parameterCd=parameterCd,
    multi_index=True                   # default index is datetime
)
print(df.columns)
df

Index(['site_no', '00060', '00060_cd', '00065', '00065_cd'], dtype='object')

                            site_no    00060 00060_cd  00065 00065_cd
datetime
2025-02-01 05:00:00+00:00  03287500  36100.0        P  14.40        P
2025-02-01 05:15:00+00:00  03287500  36500.0        P  14.49        P
2025-02-01 05:30:00+00:00  03287500  36700.0        P  14.55        P
2025-02-01 05:45:00+00:00  03287500  36900.0        P  14.60        P
2025-02-01 06:00:00+00:00  03287500  37100.0        P  14.65        P
...                             ...      ...      ...    ...      ...
2025-03-01 03:45:00+00:00  03287500  11200.0        P  10.04        P
2025-03-01 04:00:00+00:00  03287500  11300.0        P  10.05        P
2025-03-01 04:15:00+00:00  03287500  11200.0        P  10.04        P
2025-03-01 04:30:00+00:00  03287500  11200.0        P  10.04        P
2025-03-01 04:45:00+00:00  03287500  11200.0        P  10.04        P

[2688 rows x 5 columns]

Data cleaning
- drop columns
- rename columns
- reset index
- convert datetime to date

In [ ]:
# Drop site_no and columns that end in cd
cols_to_drop = ['site_no','00060_cd', '00065_cd']
df = df.drop(columns=cols_to_drop, axis=1)

# rename columns
cols_to_rename = {'00060': 'discharge (cubic feet)', '00065': 'stream height (feet)'}
df = df.rename(columns=cols_to_rename)

# reset index so we can use datetime
df = df.reset_index()           
df['date'] = pd.to_datetime(df['datetime']).dt.date
df

new_df = df.iloc[:, [3, 2, 1]]
new_df